html {
    font-size: 100%;
    line-height: 1.1;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*::before, *::after, *, body {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 300ms ease-in-out;
}

body {
    font-size: 15px;
    color: hsl(0, 0, 0);
    max-width: 1440px;
    margin: 0 auto;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

header, .usp, .creations {
    overflow: hidden;
}