@import "reset";
@import "mobile";

header {
    height: 80vh;
    background: linear-gradient(hsla(0, 0, 0, .5), hsla(0, 0, 0, .5)), url(./images/desktop/image-hero.jpg), no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10rem;
    padding-left: 4rem;
    position: relative;

    nav, ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4.2rem;


    nav {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
    }

        li {
            color: hsl(0, 0, 100%);
            margin: 0 .8rem;
            padding-bottom: .3rem;
            border-bottom: .1rem solid transparent;
            cursor: pointer;

            &:hover {
                border-bottom: .1rem solid hsl(0, 0, 100%);
            }
        }
    }

    .header-text {
        width: 38rem;
        padding: 2rem;
        border: 1.5px solid hsl(0, 0, 100%);
        transform: translateX(4rem) translateY(3.5rem);

        h1 {
            color: hsl(0, 0, 100%);
            font-size: 3.8rem;
            font-weight: 200;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}

main {
    width: 62.5rem;
    margin: 0 auto;

    .usp {
        height: 100vh;
        z-index: 1;
    
        img {
            width: 42rem;
        }

        .main-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: hsl(0, 0, 100%);
            width: 32rem;
            height: 25rem;
            transform: translateX(33rem) translateY(-18rem);
            z-index: 10;

            h2 {
                font-size: 3rem;
                font-weight: lighter;
                text-transform: uppercase;
            }

            p {
                color: hsl(0, 0, 55%);
                font-size: .8rem;
                line-height: 2;
                letter-spacing: 1px;
                transform: translateX(1rem) translateY(2rem);
            }
        }
    }
}

.creations {

    .creation-text-cta {
        display: flex;
        align-items: center;
        justify-content: space-between;


        h3 {
            font-size: 3rem;
            font-weight: lighter;
            text-transform: uppercase;
        }

        a {
            background-color: hsl(0, 0, 0);
            color: hsl(0, 0, 100%);
            letter-spacing: 2px;
            text-transform: lowercase;
            font-variant: small-caps;
            text-decoration: none;
            padding: 1rem 5rem;
        }
    }

}

footer, ul {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 1rem 3rem;
    background-color: hsl(0, 0, 0);
    

    ul li {
        color: hsl(0, 0, 100%);
        margin: 0 1rem;
    }

    p {
        color: hsl(0, 0, 100%);
    }
}